head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#" itemscope="" itemtype="http://schema.org/Organization")
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  meta(itemprop="name" content="")
  meta(itemprop="url" content="https://")
  meta(itemprop="about" content="ディスクリプション記載")
  //- link(rel="stylesheet" href="./css/style.css" type="text/css" media="screen")
  title サイトタイトル
